.home {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    background-color: #999;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.home button {
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    color: inherit;
    font: inherit;
    border-style: inherit;
    cursor: pointer;
}

.cardRepo {
    display: flex;
    flex-direction: column;
    background-color: #666;
    height: 100px;
    width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.cardRepo h3, p{
    justify-content: center;
    align-items: center;
}

